body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.style-0 {
  padding-right: 15px;
  width: 1170px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.style-1 {
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  line-height: 43px;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
}

.style-2 {
  font-weight: 300;
  font-size: 18px;
  margin: 10px auto 40px;
  line-height: normal;
  text-align: center;
  max-width: 880px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
}

.style-3 {
  max-width: 875px;
  margin: 0px auto;
  box-sizing: border-box;
}

.style-4 {
  text-align: left;
  padding: 0px;
  border-radius: 3px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  box-sizing: border-box;
}

.style-5 {
  display: inline-block;
  width: auto;
  text-align: left;
  border-right: 0.8px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 35px;
  box-sizing: border-box;
}

.style-6 {
  border-radius: 0px;
  padding: 0px 10px;
  width: 235px;
  height: 55px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  font-family: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  margin: 0px;
}

.style-7 {
  margin-left: -4px;
  display: inline-block;
  width: auto;
  text-align: left;
  border-right: 0.8px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 35px;
  box-sizing: border-box;
}

.style-8 {
  border-radius: 0px;
  padding: 0px 10px;
  width: 235px;
  height: 55px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  font-family: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  margin: 0px;
}

.style-9 {
  border: 0px none rgb(51, 51, 51);
  display: inline-block;
  width: auto;
  text-align: left;
  border-right: 0px none rgb(51, 51, 51);
  position: relative;
  padding-left: 35px;
  box-sizing: border-box;
}

.style-10 {
  position: relative;
  width: 138px;
  appearance: none;
  z-index: 1;
  border-radius: 0px;
  border: 0px none rgb(51, 51, 51);
  padding: 0px 10px;
  height: 55px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  font-family: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  box-sizing: border-box;
  text-transform: none;
  color: rgb(51, 51, 51);
  margin: 0px;
}

.style-11 {
  box-sizing: border-box;
}

.style-12 {
  box-sizing: border-box;
}

.style-13 {
  box-sizing: border-box;
}

.style-14 {
  box-sizing: border-box;
}

.style-15 {
  box-sizing: border-box;
}

.style-16 {
  box-sizing: border-box;
}

.style-17 {
  box-sizing: border-box;
}

.style-18 {
  box-sizing: border-box;
}

.style-19 {
  float: right;
  border: 0px none rgb(51, 51, 51);
  padding: 0px;
  width: 150px;
  display: block;
  text-align: left;
  border-right: 0px none rgb(51, 51, 51);
  position: relative;
  padding-left: 0px;
  box-sizing: border-box;
}

.style-20 {
  background: rgb(106, 124, 147) none repeat scroll 0% 0% / auto padding-box border-box;
  padding: 0px 0px 1px;
  position: relative;
  border-radius: 0px;
  margin: 0px;
  height: 55px;
  width: 150px;
  display: inline-block;
  margin-bottom: 0px;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0.8px solid rgba(0, 0, 0, 0);
  line-height: 18.5714px;
  user-select: none;
  white-space: nowrap;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-right: 0px;
  box-shadow: rgba(50, 50, 93, 0.05) 0px 4px 6px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  appearance: button;
  overflow: visible;
  vertical-align: middle;
  text-align: center;
}

.style-21 {
  display: block;
  width: 100%;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  min-height: 200px;
  margin-top: 20px;
  text-align: left;
  padding: 0px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px 0px, rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
  position: relative;
  box-sizing: border-box;
}

.style-22 {
  display: block;
  height: 75px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  padding: 0px;
  box-sizing: border-box;
}

.style-23 {
  display: inline-block;
  height: 75px;
  vertical-align: top;
  padding-top: 7px;
  width: 255px;
  padding-left: 14px;
  box-sizing: border-box;
}

.style-24 {
  display: block;
  font-size: 25px;
  font-weight: 600;
  box-sizing: border-box;
}

.style-25 {
  display: inline-block;
  box-sizing: border-box;
}

.style-26 {
  box-sizing: border-box;
}

.style-27 {
  box-sizing: border-box;
}

.style-28 {
  display: inline-block;
  height: 75px;
  vertical-align: top;
  position: relative;
  padding-top: 12px;
  box-sizing: border-box;
}

.style-29 {
  display: inline-block;
  width: 175px;
  text-align: center;
  box-sizing: border-box;
}

.style-30 {
  display: block;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}

.style-31 {
  width: 115px;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.style-32 {
  display: inline-block;
  width: 175px;
  text-align: center;
  box-sizing: border-box;
}

.style-33 {
  display: block;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
}

.style-34 {
  width: 115px;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.style-35 {
  background: rgb(47, 189, 79) none repeat scroll 0% 0% / auto padding-box border-box;
  display: block;
  height: 75px;
  vertical-align: top;
  float: right;
  width: 195px;
  padding: 12px 14px 0px 15px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.style-36 {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  box-sizing: border-box;
}

.style-37 {
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}

.style-38 {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}

.style-39 {
  display: inline-block;
  float: none;
  width: 50%;
  border-right: 0.8px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.style-40 {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.style-41 {
  display: block;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 100px;
  margin: 20px auto 8px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 5px 6px;
  border-radius: 50px;
  box-sizing: border-box;
}

.style-42 {
  font-size: 18px;
  font-weight: 600;
  display: block;
  box-sizing: border-box;
}

.style-43 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(119, 119, 119);
  box-sizing: border-box;
}

.style-44 {
  font-size: 8px;
  color: rgb(119, 119, 119);
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  top: -2px;
  box-sizing: border-box;
}

.style-45 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(119, 119, 119);
  box-sizing: border-box;
}

.style-46 {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.style-47 {
  border-right: 1.6px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);
  margin-right: -10px;
  z-index: 1;
  padding-top: 10px;
  border-top-left-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 1.6px 1.6px 0px;
  box-sizing: border-box;
}

.style-48 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-49 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-50 {
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  border-top-right-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 0px 1.6px;
  box-sizing: border-box;
}

.style-51 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-52 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-53 {
  border-right: 1.6px solid rgba(0, 0, 0, 0.1);
  margin-right: -10px;
  padding-top: 7px;
  z-index: 1;
  border-bottom-left-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 1.6px 0px 0px;
  box-sizing: border-box;
}

.style-54 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-55 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-56 {
  padding-top: 7px;
  border-bottom-right-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  box-sizing: border-box;
}

.style-57 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-58 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-59 {
  display: block;
  width: 255px;
  margin: 0px auto 15px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}

.style-60 {
  float: left;
  border: 1.6px solid rgb(106, 124, 147);
  padding: 0px;
  width: 125px;
  border-radius: 3px;
  height: 27px;
  text-align: center;
  position: relative;
  left: -12px;
  box-sizing: border-box;
}

.style-61 {
  float: left;
  font-style: normal;
  width: 51px;
  padding-top: 1px;
  box-sizing: border-box;
}

.style-62 {
  float: right;
  border: 1.6px solid rgb(106, 124, 147);
  padding: 0px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  left: -9px;
  box-sizing: border-box;
}

.style-63 {
  float: left;
  font-style: normal;
  width: 51px;
  padding-top: 1px;
  box-sizing: border-box;
}

.style-64 {
  float: none;
  display: inline-block;
  width: 49.5%;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
}

.style-65 {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.style-66 {
  display: block;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 100px;
  margin: 20px auto 8px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 5px 6px;
  border-radius: 50px;
  box-sizing: border-box;
}

.style-67 {
  font-size: 18px;
  font-weight: 600;
  display: block;
  box-sizing: border-box;
}

.style-68 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(119, 119, 119);
  box-sizing: border-box;
}

.style-69 {
  font-size: 8px;
  color: rgb(119, 119, 119);
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  top: -2px;
  box-sizing: border-box;
}

.style-70 {
  font-size: 12px;
  font-weight: 600;
  color: rgb(119, 119, 119);
  box-sizing: border-box;
}

.style-71 {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.style-72 {
  border-right: 1.6px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);
  margin-right: -10px;
  z-index: 1;
  padding-top: 10px;
  border-top-left-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 1.6px 1.6px 0px;
  box-sizing: border-box;
}

.style-73 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-74 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-75 {
  border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  border-top-right-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 0px 1.6px;
  box-sizing: border-box;
}

.style-76 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-77 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-78 {
  border-right: 1.6px solid rgba(0, 0, 0, 0.1);
  margin-right: -10px;
  padding-top: 7px;
  z-index: 1;
  border-bottom-left-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px 1.6px 0px 0px;
  box-sizing: border-box;
}

.style-79 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-80 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-81 {
  padding-top: 7px;
  border-bottom-right-radius: 0px;
  display: inline-block;
  width: 160px;
  padding-bottom: 10px;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  box-sizing: border-box;
}

.style-82 {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.style-83 {
  font-size: 13px;
  box-sizing: border-box;
}

.style-84 {
  display: block;
  width: 255px;
  margin: 0px auto 15px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}

.style-85 {
  float: left;
  border: 1.6px solid rgb(106, 124, 147);
  padding: 0px;
  width: 125px;
  border-radius: 3px;
  height: 27px;
  text-align: center;
  position: relative;
  left: -12px;
  box-sizing: border-box;
}

.style-86 {
  float: left;
  font-style: normal;
  width: 51px;
  padding-top: 1px;
  box-sizing: border-box;
}

.style-87 {
  float: right;
  border: 1.6px solid rgb(106, 124, 147);
  padding: 0px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  left: -9px;
  box-sizing: border-box;
}

.style-88 {
  float: left;
  font-style: normal;
  width: 51px;
  padding-top: 1px;
  box-sizing: border-box;
}

.style-89 {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 392px;
  font-weight: 600;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border-width: 0.8px 0.8px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.1);
  border-image: none;
  border-bottom-style: none;
  border-bottom-color: rgb(152, 152, 152);
  font-size: 12px;
  padding: 4px 11px;
  border-radius: 0px;
  color: rgb(152, 152, 152);
  width: 89px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  text-decoration: none solid rgb(152, 152, 152);
}

.style-90 {
  display: inline;
  box-sizing: border-box;
}

.style-91 {
  display: none;
  box-sizing: border-box;
}

.style-92 {
  display: none;
  width: 100%;
  position: relative;
  border-top: 0.8px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px 12px 50px;
  text-align: center;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  box-sizing: border-box;
}

.style-93 {
  display: inline-block;
  width: 200px;
  text-align: left;
  box-sizing: border-box;
}

.style-94 {
  display: block;
  width: 120px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 0px 4px;
  border-radius: 3px;
  margin-bottom: 12px;
  text-align: center;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  background: rgb(227, 229, 232) none repeat scroll 0% 0% / auto padding-box border-box;
  box-sizing: border-box;
}

.style-95 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-96 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-97 {
  box-sizing: border-box;
}

.style-98 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-99 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-100 {
  box-sizing: border-box;
}

.style-101 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-102 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-103 {
  box-sizing: border-box;
}

.style-104 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-105 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-106 {
  box-sizing: border-box;
}

.style-107 {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;
}

.style-108 {
  display: block;
  width: 120px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 0px 4px;
  border-radius: 3px;
  margin-bottom: 12px;
  text-align: center;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  background: rgb(227, 229, 232) none repeat scroll 0% 0% / auto padding-box border-box;
  box-sizing: border-box;
}

.style-109 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-110 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-111 {
  box-sizing: border-box;
}

.style-112 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-113 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-114 {
  box-sizing: border-box;
}

.style-115 {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
  box-sizing: border-box;
}

.style-116 {
  display: block;
  width: 120px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 0px 4px;
  border-radius: 3px;
  margin-bottom: 12px;
  text-align: center;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  background: rgb(227, 229, 232) none repeat scroll 0% 0% / auto padding-box border-box;
  box-sizing: border-box;
}

.style-117 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-118 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-119 {
  box-sizing: border-box;
}

.style-120 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-121 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-122 {
  box-sizing: border-box;
}

.style-123 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-124 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-125 {
  box-sizing: border-box;
}

.style-126 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-127 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-128 {
  box-sizing: border-box;
}

.style-129 {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: left;
  box-sizing: border-box;
}

.style-130 {
  display: block;
  width: 120px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 0px 4px;
  border-radius: 3px;
  margin-bottom: 12px;
  text-align: center;
  border: 0.8px solid rgba(0, 0, 0, 0.1);
  background: rgb(227, 229, 232) none repeat scroll 0% 0% / auto padding-box border-box;
  box-sizing: border-box;
}

.style-131 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-132 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-133 {
  box-sizing: border-box;
}

.style-134 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-135 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-136 {
  box-sizing: border-box;
}

.style-137 {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

.style-138 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-139 {
  box-sizing: border-box;
}

.style-140 {
  display: block;
  width: 100%;
  background: rgb(235, 237, 241) none repeat scroll 0% 0% / auto padding-box border-box;
  position: relative;
  border-top: 0.8px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 15px 0px;
  text-align: left;
  box-sizing: border-box;
}

.style-141 {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

.style-142 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-143 {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

.style-144 {
  font-size: 8px;
  color: rgb(119, 119, 119);
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -2px;
  box-sizing: border-box;
}

.style-145 {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

.style-146 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-147 {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

.style-148 {
  display: none;
  float: right;
  position: relative;
  top: 3px;
  font-size: 12px;
  box-sizing: border-box;
}

.style-149 {
  font-weight: 600;
  box-sizing: border-box;
}

.style-150 {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
}

